.hero {
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero.jpg);
    background-color: $sec-bkg-clr;
    background-size: cover;
    background-position: center;
  }
}

.hero__container {
  @extend .container;

  @media screen and (max-width: 1199px) {
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero.jpg);
    background-color: $sec-bkg-clr;
    background-size: cover;
    background-position: center;
  }
  display: flex;

  @media screen and (min-width: 1200px) {
    & {
      min-height: 600px;
    }
  }
}

.hero__wrapper {
  margin: auto;
  text-align: center;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    & {
      max-width: 696px;
    }
  }
}

.hero__title {
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $sec-text-clr;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-height: 50px;
  padding: 0px 24px;

  font-weight: 700;
  font-size: $primary-fnt-size;
  line-height: 1.88;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    padding: 0 32px;
  }
}
