// Card with img (photo), shadows, title (name), description (profession). Width is defined by img width.
$personal-card_font-weight: $prime-fnt-weight;
$personal-card_font-size: $primary-fnt-size;
$personal-card_text-clr: $title-text-clr;
$personal-card_fnt-size: $primary-fnt-size;
// Card shadows, border and background
.personal-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-bkg-clr;
}
// Box for image description
.personal-card__title-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
// Title styles (name)
.personal-card__name {
  margin: 0;

  font-weight: $personal-card_font-weight;
  font-size: $personal-card_font-size;
  line-height: 1.19;
  text-align: center;
  color: $personal-card_text-clr;
}
/* Card Description */
.personal-card__profession {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: $personal-card_fnt-size;
  line-height: 1.19;
  text-align: center;
}

// Example of markup
// <li class="personal-card">
//   <img src="./images/mykola-tar.jpg" alt="Маркетолог Микола Тарасов" width="270" />
//   <div class="personal-card__title-box">
//     <h3 class="personal-card__name">Микола Тарасов</h3>
//     <p class="personal-card__profession" lang="en">Marketing</p>
//   </div>
// </li>
